*__pycache__*
# Test generated data
tests/logs/*
tests/dumped_clients/*_w_access_token.json
logs/*
# Files used when developed
test.py
test_cli.py
Notes.md
# Installation files
build/*
offers_sdk/offers_sdk.egg-info/*
